[pulse]
userid = "<username>"
host = "pulse.mozilla.org"
port = 5671
exchange = "exchange/<username>/test"
routing_key = ""
queue = "queue/<username>/test"
password = "<pulse-password>"
ssl = true

[sentry]
sentry_url = ""

[clones]
directory = "../git_hg_sync_repos/"

[[tracked_repositories]]
name = "firefox-releases"
url = "/home/fbessou/dev/MOZI/fake-forge/git/firefox-releases"

[[branch_mappings]]
source_url = "/home/fbessou/dev/MOZI/fake-forge/git/firefox-releases"
branch_pattern = "^(esr\\d+)$"
destination_url = "/home/fbessou/dev/MOZI/fake-forge/hg/mozilla-\\1"
destination_branch = "default"
