[pulse]
# Those parameters can be overriden by PULSE_* environment variables
host = "pulse.mozilla.org"
port = 5671
ssl = true
userid = "githgsyncdev"
password = "SET THIS IN PULSE_PASSWORD ENV VARIABLE"
# The exchange is declared by the Producer.
exchange = "exchange/landodev/pushes"
routing_key = "gitpushes"
# The Consumer declares the queue and binds it to the exchange.
heartbeat = 30
queue = "queue/githgsyncdev/pushes"

[sentry]
sentry_dsn = ""

[clones]
directory = "/clones"


[[tracked_repositories]]
name = "ff-test"
url = "https://github.com/mozilla-conduit/ff-test"

[[branch_mappings]]
source_url = "https://github.com/mozilla-conduit/ff-test"
branch_pattern = "dev"
destination_url = "ssh://hg.mozilla.org/conduit-testing/ff-test-dev"
destination_branch = "default"

#
# relbranches
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-conduit/ff-test"
# <M>_<m>_X RELBRANCH to mozilla-release matching branch
branch_pattern = "^((FIREFOX|DEVEDITION|FIREFOX-ANDROID)_ESR_(\\d+)(_\\d+_X)_RELBRANCH)$"
destination_url = "ssh://hg.mozilla.org/conduit-testing/ff-test-dev"
destination_branch = "\\1"

[[tag_mappings]]
source_url = "https://github.com/mozilla-conduit/ff-test"
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_.*$"
destination_url = "ssh://hg.mozilla.org/conduit-testing/ff-test-dev"
tags_destination_branch = "tags-unified-1973880"
# Default
#tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"

[[tracked_repositories]]
name = "test-repo-github"
url = "https://github.com/mozilla-conduit/test-repo"

[[branch_mappings]]
source_url = "https://github.com/mozilla-conduit/test-repo"
branch_pattern = "dev"
destination_url = "ssh://hg.mozilla.org/conduit-testing/test-repo-github-dev"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-conduit/test-repo"
tag_pattern = "^(DEV)_(BETA|NIGHTLY)_(\\d+)_(BASE|END)$"
destination_url = "ssh://hg.mozilla.org/conduit-testing/test-repo-github-dev"
tags_destination_branch = "tags-unified-1973880"
# Default
#tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"
