[pulse]
# Those parameters can be overriden by PULSE_* environment variables
host = "pulse.mozilla.org"
port = 5671
ssl = true
userid = "pulsegithgsyncprod"
password = "SET THIS IN PULSE_PASSWORD ENV VARIABLE"
exchange = "exchange/pulsegithgsyncprod/pushes"
routing_key = "gitpushes"
queue = "queue/pulsegithgsyncprod/pushes"

[sentry]
sentry_url = ""

[clones]
directory = "/clones"

###########
# FIREFOX #
###########

[[tracked_repositories]]
name = "firefox"
url = "https://github.com/mozilla-firefox/firefox"

#
# AUTOLAND
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox"
branch_pattern = "autoland"
destination_url = "ssh://hg.mozilla.org//integration/autoland/"
destination_branch = "default"

#
# BETA
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox"
branch_pattern = "beta"
destination_url = "ssh://hg.mozilla.org//releases/mozilla-beta/"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox"
# <M>_<m>(_<p>...)b<n> BUILD and RELEASE tags to mozilla-beta
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_(\\d+(_\\d+)+)b\\d+_(BUILD\\d+|RELEASE)$"
destination_url = "ssh://hg.mozilla.org//releases/mozilla-beta/"
tags_destination_branch = "tags"

#
# ESRs
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox"
# esr<M> branches to mozilla-esr<M>
branch_pattern = "^(esr\\d+)$"
destination_url = "ssh://hg.mozilla.org//releases/mozilla-\\1/"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox"
# <M>_<m>(_<p>...)esr BUILD and RELEASE tags to mozilla-esr<M>
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_(\\d+)(_\\d+)+esr_(BUILD\\d+|RELEASE)$"
destination_url = "ssh://hg.mozilla.org//releases/mozilla-esr\\3/"
tags_destination_branch = "tags"

#
# MOZILLA-CENTRAL
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox"
branch_pattern = "main"
destination_url = "ssh://hg.mozilla.org//releases/mozilla-central/"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox"
# BETA_<M> and NIGHTLY_<M> tags to m-c
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_(BETA|NIGHTLY)_(\\d+)_(BASE|END)$"
destination_url = "ssh://hg.mozilla.org//releases/mozilla-central/"
tags_destination_branch = "tags"

#
# RELEASE
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox"
branch_pattern = "release"
destination_url = "ssh://hg.mozilla.org//releases/mozilla-release/"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox"
# <M>_<m>(_<p>...) BUILD and RELEASE tags to mozilla-release
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_(\\d+(_\\d+)+)_(BUILD\\d+|RELEASE)$"
destination_url = "ssh://hg.mozilla.org//releases/mozilla-release/"
tags_destination_branch = "tags"

#################
# INFRA-TESTING #
#################

[[tracked_repositories]]
name = "infra-testing"
url = "https://github.com/mozilla-firefox/infra-testing"

[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/infra-testing"
branch_pattern = ".*"
destination_url = "ssh://hg.mozilla.org//conduit-testing/m-c/"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/infra-testing"
tag_pattern = ".*"
destination_url = "ssh://hg.mozilla.org//conduit-testing/m-c/"
tags_destination_branch = "tags"

#####################
# REVIEW (MOZ-PHAB) #
#####################

[[tracked_repositories]]
name = "review"
url = "https://github.com/mozilla-conduit/review/"

[[branch_mappings]]
source_url = "https://github.com/mozilla-conduit/review/"
branch_pattern = ".*"
destination_url = "ssh://hg.mozilla.org//conduit-testing/review/"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-conduit/review/"
tag_pattern = ".*"
destination_url = "ssh://hg.mozilla.org//conduit-testing/review/"
tags_destination_branch = "tags"
