[pulse]
# Those parameters can be overriden by PULSE_* environment variables
host = "pulse.mozilla.org"
port = 5671
ssl = true
userid = "SET THIS IN PULSE_USERID ENV VARIABLE"
password = "SET THIS IN PULSE_PASSWORD ENV VARIABLE"
# The exchange is declared by the Producer.
exchange = "exchange/landostage/pushes"
routing_key = "gitpushes"
# The Consumer declares the queue and binds it to the exchange.
heartbeat = 30
queue = "queue/githgsyncstage/pushes"

[sentry]
sentry_dsn = ""

[clones]
directory = "/clones"


[[tracked_repositories]]
name = "ff-test"
url = "https://github.com/mozilla-conduit/ff-test.git"

[[branch_mappings]]
source_url = "https://github.com/mozilla-conduit/ff-test.git"
branch_pattern = "stage"
destination_url = "ssh://hg.mozilla.org/conduit-testing/ff-test-stage"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-conduit/ff-test.git"
tag_pattern = "^(STAGE)_(BETA|NIGHTLY)_(\\d+)_(BASE|END)$"
destination_url = "ssh://hg.mozilla.org/conduit-testing/ff-test-stage"
tags_destination_branch = "stage-tags"
# Default
#tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"


[[tracked_repositories]]
name = "test-repo-github"
url = "https://github.com/mozilla-conduit/test-repo.git"

[[branch_mappings]]
source_url = "https://github.com/mozilla-conduit/test-repo.git"
branch_pattern = "stage"
destination_url = "ssh://hg.mozilla.org/conduit-testing/test-repo-github-stage"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-conduit/test-repo.git"
tag_pattern = "^(STAGE)_(BETA|NIGHTLY)_(\\d+)_(BASE|END)$"
destination_url = "ssh://hg.mozilla.org/conduit-testing/test-repo-github-stage"
tags_destination_branch = "stage-tags"
# Default
#tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"
