[pulse]
# Those parameters can be overriden by PULSE_* environment variables
host = "pulse.mozilla.org"
port = 5671
ssl = true
userid = "githgsyncprod"
password = "SET THIS IN PULSE_PASSWORD ENV VARIABLE"
# The exchange is declared by the Producer.
exchange = "exchange/landoprod/pushes"
routing_key = "gitpushes"
# The Consumer declares the queue and binds it to the exchange.
queue = "queue/githgsyncprod/pushes"

[sentry]
sentry_dsn = ""

[clones]
directory = "/clones"

###########
# FIREFOX #
###########

[[tracked_repositories]]
name = "firefox"
url = "https://github.com/mozilla-firefox/firefox.git"


#
# MOZILLA-UNIFIED
#
# We don't sync to this repository, but we put it here first to fetch all
# references early, with the benefit of bundles.
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
branch_pattern = "THIS_SHOULD_MATCH_NOTHING"
destination_url = "https://hg.mozilla.org/mozilla-unified/"
destination_branch = "NOT_A_VALID_BRANCH"


#
# AUTOLAND
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
branch_pattern = "autoland"
destination_url = "ssh://hg.mozilla.org/integration/autoland/"
destination_branch = "default"


#
# BETA
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
branch_pattern = "beta"
destination_url = "ssh://hg.mozilla.org/releases/mozilla-beta/"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
# <M>_<m>(_<p>...)b<n> BUILD and RELEASE tags to mozilla-beta
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_(\\d+(_\\d+)+)b\\d+_(BUILD\\d+|RELEASE)$"
destination_url = "ssh://hg.mozilla.org/releases/mozilla-beta/"
tags_destination_branch = "tags-beta"
# Default
#tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
# BETA_<M> BASE and END tags to mozilla-beta
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_BETA_(\\d+)+_(BASE|END)$"
destination_url = "ssh://hg.mozilla.org/releases/mozilla-beta/"
tags_destination_branch = "tags-beta"
# Default
#tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
# RELEASE_<M> BASE tags to mozilla-beta
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_RELEASE_(\\d+)+_BASE$"
destination_url = "ssh://hg.mozilla.org/releases/mozilla-beta/"
tags_destination_branch = "tags-beta"
# Default
#tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"


#
# ESRs
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
# esr<M> branches to mozilla-esr<M>
branch_pattern = "^(esr\\d+)$"
destination_url = "ssh://hg.mozilla.org/releases/mozilla-\\1/"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
# <M>_<m>(_<p>...)esr BUILD and RELEASE tags to mozilla-esr<M>
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_(\\d+)(_\\d+)+esr_(BUILD\\d+|RELEASE)$"
destination_url = "ssh://hg.mozilla.org/releases/mozilla-esr\\2/"
tags_destination_branch = "tags-esr\\2"
# Default
#tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"

#
# relbranches
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
# <M>_<m>_X RELBRANCH to mozilla-release matching branch
branch_pattern = "^((FIREFOX|DEVEDITION|FIREFOX-ANDROID)_ESR_(\\d+)(_\\d+_X)_RELBRANCH)$"
destination_url = "ssh://hg.mozilla.org/releases/mozilla-esr\\3/"
destination_branch = "\\1"


#
# MOZILLA-CENTRAL
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
branch_pattern = "main"
destination_url = "ssh://hg.mozilla.org/mozilla-central/"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
# NIGHTLY_<M> tags to m-c
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_NIGHTLY_(\\d+)_(BASE|END)$"
destination_url = "ssh://hg.mozilla.org/mozilla-central/"
tags_destination_branch = "tags-main"
# Default
# tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"

# BETA tags syncing disabled for central due to bug 1968531.
# [[tag_mappings]]
# source_url = "https://github.com/mozilla-firefox/firefox.git"
# # BETA_<M>_BASE tags to m-c (in the past, we didn't sync BETA_END, only _BASE)
# tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_BETA_(\\d+)_BASE$"
# destination_url = "ssh://hg.mozilla.org/mozilla-central/"
# tags_destination_branch = "tags-main"
# # Default
# #tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"


#
# RELEASE
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
branch_pattern = "release"
destination_url = "ssh://hg.mozilla.org/releases/mozilla-release/"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
# <M>_<m>(_<p>...) BUILD and RELEASE tags to mozilla-release
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_(\\d+(_\\d+)+)_(BUILD\\d+|RELEASE)$"
destination_url = "ssh://hg.mozilla.org/releases/mozilla-release/"
tags_destination_branch = "tags-release"
# # Default
# #tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"
#
[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
# RELEASE_<M> BASE and END tags to mozilla-release
tag_pattern = "^(FIREFOX|DEVEDITION|FIREFOX-ANDROID)_RELEASE_(\\d+)+_(BASE|END)$"
destination_url = "ssh://hg.mozilla.org/releases/mozilla-release/"
tags_destination_branch = "tags-release"
# Default
#tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"

#
# relbranches
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/firefox.git"
# <M>_<m>_X RELBRANCH to mozilla-release matching branch
branch_pattern = "^((FIREFOX|DEVEDITION|FIREFOX-ANDROID)_(\\d+_\\d+_X)_RELBRANCH)$"
destination_url = "ssh://hg.mozilla.org/releases/mozilla-release/"
destination_branch = "\\1"


#################
# INFRA-TESTING #
#################

[[tracked_repositories]]
name = "infra-testing"
url = "https://github.com/mozilla-firefox/infra-testing.git"

#
# MOZILLA-UNIFIED
#
# We don't sync to this repository, but we put it here first to fetch all
# references early, with the benefit of bundles.
#
# XXX: For this to work, https://github.com/mozilla-firefox/infra-testing.git needs
# to have all commits presents on https://github.com/mozilla-firefox/firefox.git.
#
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/infra-testing.git"
branch_pattern = "THIS_SHOULD_MATCH_NOTHING"
destination_url = "https://hg.mozilla.org/mozilla-unified/"
destination_branch = "NOT_A_VALID_BRANCH"

[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/infra-testing.git"
branch_pattern = "autoland"
destination_url = "ssh://hg.mozilla.org/conduit-testing/infra-testing/"
destination_branch = "default"

# Relbranch syncing on infra-testing.
[[branch_mappings]]
source_url = "https://github.com/mozilla-firefox/infra-testing.git"
branch_pattern = "^((FIREFOX|DEVEDITION|FIREFOX-ANDROID)_(\\d+_\\d+_X)_RELBRANCH)$"
destination_url = "ssh://hg.mozilla.org/conduit-testing/infra-testing/"
destination_branch = "\\1"

[[tag_mappings]]
source_url = "https://github.com/mozilla-firefox/infra-testing.git"
tag_pattern = ".+"
destination_url = "ssh://hg.mozilla.org/conduit-testing/infra-testing/"
tags_destination_branch = "tags-testing"
# Default
#tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"


#####################
# REVIEW (MOZ-PHAB) #
#####################

[[tracked_repositories]]
name = "review"
url = "https://github.com/mozilla-conduit/review.git"

[[branch_mappings]]
source_url = "https://github.com/mozilla-conduit/review.git"
branch_pattern = ".+"
destination_url = "ssh://hg.mozilla.org/conduit-testing/review/"
destination_branch = "default"

[[tag_mappings]]
source_url = "https://github.com/mozilla-conduit/review.git"
tag_pattern = ".+"
destination_url = "ssh://hg.mozilla.org/conduit-testing/review/"
tags_destination_branch = "tags"
# Default
#tag_message_suffix = "a=tagging CLOSED TREE DONTBUILD"
