[pulse]
userid = "<username>"
host = "pulse.mozilla.org"
port = 5671
exchange = "exchange/<username>/test"
routing_key = ""
queue = "queue/<username>/test"
password = "<pulse-password>"

[clones]
directory = "../git_hg_sync_repos/"

[[tracked_repositories]]
name = "test"
url = "/home/fbessou/dev/MOZI/fake-forge/git/test"

[[mappings]]
source.url = "/home/fbessou/dev/MOZI/fake-forge/git/test"
source.branch_pattern = "test-esr1"
destination.url = "/home/fbessou/dev/MOZI/fake-forge/hg/test-esr1"
destination.branch = "mybranch"