services:
  sync_init:
    user: "${UID}:${GID}"
    image: git_hg_sync
    entrypoint: ["/app/create_clones.sh", "/clones"]
    environment:
      # Let the script create .ssh somewhere writable
      HOME: /tmp
    volumes:
      - .:/app
      - ./clones:/clones:z
  sync: &sync_config
    user: "${UID}:${GID}"
    image: git_hg_sync
    build: .
    command: ["--config", "config-docker.toml", "--log-raw-level", "debug"]
    volumes:
      - .:/app
      - ./clones:/clones:z
    environment:
      - EMAIL='docker@sync'
      - RABBITMQ=true
    depends_on:
      sync_init:
        condition: service_completed_successfully
      pulse:
        condition: service_healthy
    networks:
      - pulse_network

  send:
    image: rabbitmq:3-management-alpine
    entrypoint: rabbitmqadmin publish --host pulse exchange=exchange/git-hg-sync/test routing_key=git-hg-sync
    profiles:
      - send
    networks:
      - pulse_network

  recv:
    image: rabbitmq:3-management-alpine
    entrypoint: rabbitmqadmin get --host pulse queue=queue/git-hg-sync/sync
    profiles:
      - recv
    networks:
      - pulse_network

  test:
    <<: *sync_config
    command: ["--junitxml=/tmp/tests_output/pytest.xml"]
    entrypoint: pytest
    volumes:
      - .:/app
      - ./tests_output:/app/tests_output:z
    profiles:
      - test
    networks:
      - pulse_network

  pip-compile:
    <<: *sync_config
    command: ["--verbose", "--all-build-deps", "--allow-unsafe", "--extra=dev", "--generate-hashes", "--output-file=requirements.txt", "pyproject.toml"]
    entrypoint: pip-compile
    volumes:
      - .:/app
    profiles:
      - pip-compile

  pulse:
    image: rabbitmq:3-management-alpine
    volumes:
      - ./rabbitmq/90-definitions-import.conf:/etc/rabbitmq/conf.d/90-definitions-import.conf
      - ./rabbitmq/definitions.json:/etc/rabbitmq/definitions.json
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      timeout: 2s
      retries: 1
    ports:
      - 15672:15672
    networks:
      - pulse_network

networks:
  pulse_network:
    driver: bridge
